<form id="login_form" action="/login_validation" method="post">
  <input id="name" type="text" placeholder="Email" name="email">
  <input id="password" type="text" placeholder="Password" name="password">
  <input type="submit">
</form>